.container {
  background-color: #f0f8ff; /* celeste claro */
  border-bottom: 2px solid #e0e0e0; /* gris claro */
  .logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #007acc; /* azul */
  }

  .search {
    margin-left: auto;
  }
}
